.hero {
  background-image: url("../../../../public/images/study-desk.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #fff;
}
.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hero #heading h3 {
    font-size: 16px;
  }
  .hero #heading h1 {
    font-size: 30px;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0 12px;
  }
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: right;
    padding-top: 50%;
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}
