.coursesCard {
  padding: 50px 0;
  margin-top: 0%;
}
.coursesCard .items {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}
.coursesCard .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1eb2a6;
  padding: 15px;
}
.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coursesCard .text {
  margin-left: 15px;
  text-align: left;
}
.coursesCard .text h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}
.coursesCard .rate {
  margin: 20px 0;
  color: #1eb2a6;
}
.coursesCard .rate i {
  font-size: 13px;
  margin-right: 5px;
}
.coursesCard .details .dimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.coursesCard .details .box {
  display: flex;
  align-items: center;
  color: grey;
}
.coursesCard .details span {
  color: #1eb2a6;
  font-weight: 500;
  font-size: 14px;
}
.coursesCard .price {
  margin: 30px 0;
  background-color: #f8f8f8;
  padding: 10px;
}
.coursesCard h3 {
  font-weight: 500;
  color: #1eb2a6;
}
/*-------------online---------*/
.online {
  text-align: center;
}
.online .box {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
  padding: 30px 20px;
  transition: 0.5s;
}
.online .img {
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
}
.online img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.online h1 {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
  line-height: 30px;
}
.online span {
  background-color: #f8f8f8;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 15px;
  color: #1eb2a6;
  border-radius: 5px;
}
.online .box .show {
  opacity: 0;
}
.online .box:hover {
  background-color: #1eb2a6;
  border-radius: 5px;
  cursor: pointer;
}
.online .box:hover .show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.online .box:hover h1 {
  color: #fff;
}
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 79%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  padding: 20px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:hover {
  background-color: #1eb2a6;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}
.swiper-slide:hover span {
  background-color: #fff;
}

.swiper-slide img {
  display: block;
  width: 35%;
  height: 35%;
  object-fit: cover;
  margin: auto;
}

.online-box-div h6 {
  margin-top: 20px;
}
.online-box-div span {
  margin-top: 20px;
  border-radius: 3px;
  padding: 3px;
  color: #1eb2a6;
}
.online-box-div {
  height: 30vh;
}

/*-------------online---------*/
@media screen and (max-width: 768px) {
  .online {
    text-align: center;
  }
  .online .box {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    background-color: #fff;
    padding: 3px 2px;
    transition: 0.5s;
  }
  .online .img {
    width: 20px;
    height: 20px;
    margin: auto;
    position: relative;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .online h1 {
    font-weight: 500;
    font-size: 11px;
    margin: 6px 0;
  }
  .online span {
    background-color: #f8f8f8;
    padding: 3px 3px;
    font-weight: 500;
    font-size: 9px;
    color: #1eb2a6;
    border-radius: 5px;
  }
  .online .box .show {
    opacity: 0;
  }
  .online .box:hover {
    background-color: #1eb2a6;
    border-radius: 5px;
    cursor: pointer;
  }
  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #fff;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 10px;
  }
  #heading h1 {
    font-size: 24px;
  }
  .swiper {
    width: 90%;
    height: 100%;
  }
  .online-box-div h6 {
    font-size: 11px;
  }
  .online-box-div span {
    font-size: 8px;
  }
  .online-box-div {
    height: 30%;
  }
  .coursesCard .items {
    padding: 3px;
  }
  .coursesCard .img {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  .coursesCard .text h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 27px;
    padding: 10px;
  }
}
