.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
.detail {
  margin: auto;
}
.roow {
  display: flex;
}
#profile-image {
  width: 150px;
}
.setting {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
  padding: 10px 0;
}
.setting button {
  color: #682773;
  background-color: aquamarine;
}
.setting a {
  color: #682773;
  font-size: 9px;
  font-weight: 600;
  padding: 10px 0;
}
.update-profile {
  width: 100%;
}
#update-image {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .roow {
    display: block;
  }
  .detail {
    margin-left: 0 20px;
  }
  .detail h5 {
    font-size: 11px;
  }
  #profile-image {
    width: 100px;
  }
  #profile-name {
    font-size: 13px;
  }
  #profile-email {
    font-size: 14px;
  }

  .setting button {
    font-size: 9px;
    margin: 0;
  }
}
