.login-section {
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 4;
  padding: 30px;
  border-radius: 20px;
}
.login-section h2 {
  text-align: center;
  color: rgba(87, 80, 80, 0.568);
}
